%p
  Dear #{@user.fname} #{@user.lname},

%p
  Thank you for submitting your project, #{@project.title}, to Project Portal! Your project has been approved and is ready to begin accepting issues. You many view your project at #{project_path(@project.id)}. We hope you enjoy using Project Portal!

#{@comment}
%p
  Sincerely,
  %br
  The Project Portal Team
