%p
  Dear #{@submitter.fname} #{@submitter.lname},

%p
  The resolution you submitted for issue #{@issue.title}, project #{@issue.project.title} has been denied. You may resubmit a resolution or view more issues for the project at #{project_path(@issue.project)}. Have a great day!

%p
  Sincerely,
  %br
  The Project Portal Team
