= check_box :tags, :html, :style => "float:left;"
= label :tags, :html, 'html'

= check_box :tags, :css, :style => "float:left;"
= label :tags, :css, 'css'

= check_box :tags, :backend, :style => "float:left;"
= label :tags, :backend, 'backend'
