.backdrop
%h4= best_in_place @issue, :title, :classes => 'highlight_on_success'

%div= best_in_place @issue, :description, type: :textarea, :ok_button => "Done", :cancel_button => "Cancel", :classes => 'highlight_on_success'
%br
- if @issue.resolved == 2
	Solved by:
	= "#{@issue.authors}"
	%br
	%br
	Github Link:
	= "#{@issue.github}"
	%br

%br
- # TODO: Add session checks!
-if @issue.resolved == 0		#if unresolved
	%a{:class => "lightbox btn btn-success", :ref => "#" } Submit
- elsif @issue.resolved == 1	#if pending
	%a{:class=>"btn btn-primary", :href=>accept_issue_path(@issue.id)} Accept
	%a{:class=>"btn btn-danger", :href=>deny_issue_path(@issue.id)} Deny
- elsif @issue.resolved == 2	#if resolved
	%a{:class=>"btn btn-success disabled", :ref=>"#"} Solved


.box 
	.close x
	%h4 Resolve this Issue
	= form_tag(resolve_issue_path(@issue.id), :method => :post) do
		= label :solution, :author, 'Author(s):'
		= text_field :solution, :author
		= label :solution, :github, 'Github Link:'
		= text_field :solution, :github
		%br
		%br
		= submit_tag 'Resolve', :class => "button"



