.project-details
  %h4.details-title
    ="#{t(:contact)}"
  %p
    %b
      ="#{t(:contact_name)}:"
    =project.contact_name
  %p
    %b
      ="#{t(:contact_position)}:"
    =project.contact_position
  %p
    %b
      ="#{t(:contact_email)}:"
    =project.contact_email
  %p
    %b
      ="#{t(:contact_hours)}:"
    =project.contact_hours
  %p
    %b
      ="#{t(:company_address)}:"
    =project.company_address
