.row-fluid
  .project-card.hero-section.span12
    .content
      .span2
        .img-polaroid
          =image_tag project.photo_url.to_s
        .edit-options
          - if user_signed_in? and (current_user.admin? or (project.user_id and current_user.id == project.user.id))
            =link_to "Modify Project Details", edit_project_path(project)
          - if user_signed_in? and current_user.admin?
            =render :partial => 'projects/short_approval_form', :locals => {:project => project}
      .span10
        %p.project-title
          =link_to project.title, project_path(project)
        %br
        .row-fluid
          .span6
            %p 
              %b
                ="#{t(:organization)}:"
              =project.company_name
            %p
              %b
                ="#{t(:nonprofit)}:"
              =yes_no(project.nonprofit)
            %p
              %b
                ="#{t(:five_01c3)}:"
              =yes_no(project.five_01c3)
            %p
              %b
                ="#{t(:company_site)}:"
              =link_to(project.company_site, url_with_http(project.company_site), :target => "_blank")
            %p
              %b
                ="#{t(:github_site)}:"
              -if @can_edit
                = best_in_place project, :github_site, :activator => "#github_site_edit"
                %a#github_site_edit.btn-link
                  %i.icon-pencil
              -else
                =link_to(project.github_site, url_with_http(project.github_site), :target => "_blank")
                
            %p
              %b
                ="#{t(:application_site)}:"
              -if @can_edit
                = best_in_place project, :application_site, :activator => "#application_site_edit"
                %a#application_site_edit.btn-link
                  %i.icon-pencil
              -else  
                =link_to(project.application_site, url_with_http(project.application_site), :target => "_blank")
          .span6
            %p
              %b
                ="#{t(:mission_statement)}:"
              =project.mission_statement
                


