<div id="approval-form-popup-<%=project.slug%>" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <%= "Comments for: #{project.title}" %>
    </h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for project, :url => approval_path(project) do |f| %>
    <%= f.hidden_field :approved, value: true %>
    <%= f.input :comment, label: false, as: :text, :input_html => {:rows => 6} %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
