= simple_form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .hero-section
    %h4.details-title
      ="#{t(:organization)}"
    =f.input :title, label: "Project Title"
    =f.input :company_name, label: "Organization's Name"
    =f.input :company_site, label: "Organization's Website"
    .inline.form-inline
      =f.input :nonprofit
      =f.input :five_01c3, label: "501(c)3"
    =f.input :company_address, label: "Organization's Address"
    =f.input :mission_statement, label: "Mission Statement", as: :text, :input_html => {:rows => 6}
    =f.input :state, label: "Project Type", as: :select, default: Project::UNFINISHED, collection: [['New Project', Project::UNFINISHED], ['Finished Project', Project::FINISHED]]
  .hero-section
    %h4.details-title
      ="#{t(:contact)}"
    =f.input :contact_name
    =f.input :contact_position
    =f.input :contact_email
    =f.input :contact_number
    =f.input :contact_hours
  .hero-section
    %h4.details-title
      ="#{t(:questions)}"
    -@questions.each do |q|
      =f.input Project::question_key(q), label: q.question, :as => q.input_type.to_sym, |
      :input_html => {:rows => 4, :value => @project.questions[Project::question_key(q)] }
  .hero-section
    %h4.details-title
      ="#{t(:upload_photo)}"
    =f.file_field :photo
  =f.button  :submit, :class => "btn"