= simple_form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .hero-section
    %h4.details-title
      ="#{t(:project_description)}"
    =f.input :problem, label: "What current problems does your organization face that you are trying to address with this project?", as: :text, :input_html => {:rows => 6, :class=>"span8"}
    =f.input :short_description, label: "How would you summarize in a sentence the technology you wish to develop?", :input_html => {:class=>"span8"}
    =f.input :long_description, label: "Please provide a more detailed description of your project", as: :text, :input_html => {:rows => 6, :class=>"span8"}

  / - if not @organizations.empty?
  .hero-section
    %h4.details-title
      ="#{t(:questions)}"
    =f.simple_fields_for :questions do |questions|
      -@organizations.each do |org|
        .org-questions
          = org.name
          - org.questions.each do |q|
            - input_type = q.input_type.to_sym
            - if input_type == :boolean
              %label.checkbox
                =questions.input Project::question_key(q), label: q.question, :as => input_type, :input_html => {:value => @project.questions[Project::question_key(q)] }
            - elsif input_type == :text
              =questions.input Project::question_key(q), label: q.question, :as => input_type, :input_html => {:rows => 4, :class => 'span12', :value => @project.questions[Project::question_key(q)] }
            - elsif input_type == :string
              =questions.input Project::question_key(q), label: q.question, :as => input_type, :input_html => {:rows => 1, :class => 'span12', :value => @project.questions[Project::question_key(q)] }

  =f.button :submit, 'Submit Project', :class => "btn"