%div#search-projs
  %h3 Search Projects
  = form_tag(search_path, :method => 'get') do
    = label_tag :search_string, 'Keyword Search:'
    = text_field_tag :search_string
    .checkbox.inline= label_tag :nonprofit, 'Nonprofit'
    = check_box_tag 'nonprofit', {:id => :nonprofit }
    .checkbox.inline= label_tag :five_01c3, 'Five_01c3'
    = check_box_tag 'five_01c3', {:id => :five_01c3 }
    %button.btn.btn-primary{:type => "submit"} Search
  = form_tag(browse_path, :method => 'get') do
    %button.btn{:type => "submit"} Clear

    
