!!!
%html
  %head
    %title ProjectPortal
    = stylesheet_link_tag  "application", :media => "all"
    = stylesheet_link_tag "bootstrap", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "bootstrap"
    = csrf_meta_tags
  %body
    %div{:class=>"navbar navbar-fixed-top navbar-inverse"}
      %div.navbar-inner
        %div.container
          %a{:class=>"brand", :href=>root_path}= "Project Portal"
          %ul.nav
            %li= link_to "Dashboard", dashboard_path
            %li= link_to "Projects", projects_path
            %li= link_to "Issues", issues_path
            %li= link_to "Propose A Project", new_project_path 
          %ul{:class=>"nav pull-right"}
            - if user_signed_in?
              %li.dropdown
                %a{:class=>"dropdown-toggle", "data-toggle"=>"dropdown"}
                  #{current_user.fname} #{current_user.lname} 
                  %b.caret
                %ul{:class=>"dropdown-menu pull-right"}
                  -if current_user.admin?
                    %li= link_to 'Admin', user_admin_dashboard_path
                  %li= link_to 'Settings', edit_user_registration_path
                  %li= link_to 'Logout', destroy_user_session_path, :method => :delete

            - else
              %li= link_to 'Login', new_user_session_path
    %div.container
      -unless flash.empty?
        %div.flash
          =render 'layouts/messages'
      = yield
